@media(max-width:4096px){
 
   .navbar-brand > button{
    font-size:20px;
  }
  #adminuser{
    color:white;
    font-size:25px;
  }
  #mobileul > li >.nav-link{
    font-size:15px;
  }
  #imgid > ul > li >img{
    height:200px;
    width:300px;
  }
  #mgroup{
    position:absolute;right:70px;display:none;z-index:55;top:30px;
  }
  #imgid > ul > li{
    margin-left:20px;
  }
  #closebtn{
    color:white;display:none;font-size:25px;position:absolute;z-index:55;justify-content:right;
  }
}
@media(min-device-width:320px) and (max-device-width:415px){
  .navbar-brand > button{
    font-size:5vw;
    background-color: transparent;
  }
  #mobileul > li >.nav-link{
    font-size:4vw;
  }
  #mobileul > li:nth-child(3) > a{
    background-color:transparent;
  }
  #mgroup{
    position:relative;
    left:15vw;
  }
  #localadminitem{
    font-size:5vw;
  }
  #adminuser{
    font-size:6vw;
  }
   #closebtn{
    color:white;display:none;font-size:25px;position:absolute;z-index:55;justify-content:right;right:10vw;
  }
  #logResp{
    font-size:5vw;
  }
  
}